body{
    background-color: #badcff;
background-image: linear-gradient(67deg, #badcff 0%, #e4d3fd 61%, #ffffff 92%);
   }

   nav{
    padding: 20px, 15px;
   background-color: #ffdaf4;
  
  
   }

header{
font-family:cursive;
  color: #4b0064;
text-align: center;
font-style:italic;
font-size:medium;
}

p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  text-align:center;
}

footer{ 
  color:#4b0064;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  font-style: italic;
}


li{
    margin: 3px;
 border: 2px solid rgba(248, 248, 250, 0.813);
 background: linear-gradient(
      0deg,
      rgb(187, 241, 245) 0%,
      rgba(255, 228, 254, 0.993) 100%
      
    );
  border-radius: 20px;
  padding: 10px;
  display: inline;
}


textarea{
  border-color: #07cace;
  margin-left: 300px;
  border-width: 1.5px;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;

}

textarea[name="user-input"] {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

textarea::placeholder {
    color: rgb(70, 0, 105);
    font-size:medium;
    
}

ul{
    display: flex;
    flex-wrap:wrap;
}


.Recuentos{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 8px;
  margin-left: 100px;
  padding: 8px;
  border: 1px solid #07cace;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(51, 95, 88, 0.26);
  text-align: center;
  font-size:11px;


}



#reset-button {
    font-size: 22px;
    font-style:italic;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 60px;
    background: linear-gradient(
      0deg,
      rgb(248, 194, 244) 0%,
      rgba(138, 214, 254, 0.833) 100%
    );
    border: 2px solid #7eebec;
    box-shadow: #040005;
     cursor: pointer;
     margin-left: 550px;
}
#reset-button:hover {
  background-color: #00e3e7;
}
#reset-button:active {
  background-color: #b631e2;
}
